<!-- IMAGEN NOMBRE PORTAFOLIO -->
<div class="contenedor-logo-portafolio sin-padding flex-center-v flex-center ">
      <div class="titulo-portafolio-img flex-center-v flex-center-h flex-center flex pt-3 pb-3">
          <img src="./img/portafolio.png" class="img-portafolio">
      </div>
</div>


<div class="contenedor-galeria col-12 sin-padding flex">

      

      <!-- LINEA FONDO COLOR ROSA -->
      <div class="linea-rosa-atras"></div>


      <!-- FLECHA IZQUIERDA -->
      <div class="flecha-galeria  flecha-izq-galeria  flex-center-v flex-center" ng-click="avanzarGaleria(false)">
            <i class="fa-solid fa-chevron-left"></i>
      </div>
      <!-- ITEMS GALERIA -->
      <div class="cont-items-galeria flex" id="galeria">
            <div class="separador-item-galeria" ng-repeat="itemLoop in arrGaleria">
                  <div class="item-galeria" ng-click="abrirItemGaleria(itemLoop)">
                        <div class="img-item-galeria" style="background-image: url('{{itemLoop.foto}}')">
                              <h3 class="h-item-galeria">{{itemLoop.nombre}}</h3>
                              
                              
                        </div>

                        <div class="contenedor-ver-mas-item-galeria ">
                              Ver Mas
                              <br>
                              <i class="fa-solid fa-angle-down"></i>
                        </div>
                  </div>
            </div>
      </div>

      <!-- FLECHA DERECHA -->
      <div class="flecha-galeria flecha-der-galeria  flex-center-v flex-center" ng-click="avanzarGaleria(true)">
            <i class="fa-solid fa-chevron-right"></i>
      </div>
</div>


<!-- MODAL GALERIA: -->
<include src="trabajos-galeria/modal-galeria-pdf.html"></include>

<style>

      /* IMAGEN DEL TITULO PORTAFOLIO */
      .contenedor-logo-portafolio{
            height: 80px;
            width: 100%;
            /* border: solid 1px blue;     */
      }
      .titulo-portafolio-img{
            height: 100%;
            /* border: solid 1px red; */
            
      }
      .img-portafolio{
            height: 40px;
            
      }

      /* COMIENZA LAS TARJETAS DE CADA TRABAJO */

      .contenedor-galeria {
            /* border: solid 1px blue; */
            height: 500px;
            padding-top: 20px;
            
      }

      .cont-items-galeria {
            width: calc(100% - 100px);
            background-color: white;

            overflow-x: scroll;
            overflow-y: hidden;
            padding-top: 100px;
            padding-bottom: 25px;
            padding-left: 45px;

            
      }

      .separador-item-galeria {
            padding-right: 45px;
      }

      .item-galeria {
            /* border: solid 1px yellow; */
            width: 320px;
            height: 340px;
            background-color: white;
            /* border-radius: 20px; */
            cursor: pointer;
            /* SOMBRA */
            -webkit-box-shadow: 0px 10px 22px -4px rgba(0,0,0,0.43);
            -moz-box-shadow: 0px 10px 22px -4px rgba(0,0,0,0.43);
            box-shadow: 0px 10px 22px -4px rgba(0,0,0,0.43);
            /* box-shadow: 5px 5px 15px black; */
            padding: 20px;
            position: relative;
      }

      .flecha-galeria {
            /* border: solid 1px red; */
            width: 50px;
            height: 100%;
            cursor: pointer;
            position: relative;
      }

      .img-item-galeria {
            height: 300px;
            position: relative;
            top: -50px;
            /* border: solid 1px red; */
            background-position: top center;
            background-repeat: no-repeat;
            /* PARA QUE LA IMG SE CENTRE DENTRO DEL DIV */
            background-size: cover;
            /* border-radius: 12px 12px 0px 0px; */
            position: relative;
      }

      .h-item-galeria {
            font-family: 'Montserrat', sans-serif;
            font-size: 20px;
            padding: 8px;
            z-index: 999;
            color: white;
            padding-top: 270px;
            /* text-shadow: 2px 2px 3px #696969; */
            position: relative;
           
      }

      /* SCROLLBAR CUSTOM */
      .cont-items-galeria::-webkit-scrollbar {
            width: 10px;
            height: 10px;
      }

      .cont-items-galeria::-webkit-scrollbar-track {
            background: transparent;
            width: 10px;
            height: 10px;
            border-radius: 50px;
      }

      .cont-items-galeria::-webkit-scrollbar-thumb {
            background: lightcoral;
            border-radius: 50px;
      }

      .cont-items-galeria::-webkit-scrollbar-thumb:hover {
            background: #555;
      }

      .contenedor-ver-mas-item-galeria {
            text-align: center;
            position: relative;
            top:-25px;
            /* border: solid 1px red; */
      }
      .linea-rosa-atras{
            background-color: #ED918C;
            height: 140px;
            width: 100%;
            position: absolute;
            bottom: 170px;
            opacity: 80%;
      }
</style>
<script inyectado>

      $(document).ready(function ()
      {
            console.log("ready");
      })


      $scope.arrGaleria = [
            { "nombre": "La Vonte", "foto": "./img/foto-portafolio/la-vonte.png", "pdf": "./pdfs/la-vonte-web.pdf", "texto": "jasdjfklañsdfklajsdklf" },
            { "nombre": "", "foto": "./img/foto-portafolio/noncello.png", "pdf": "./pdfs/noncello.pdf", "texto": "jasdjfklañsdfklajsdklf" },
            { "nombre": "Manual de Marca", "foto": "./img/foto-portafolio/manualvilche.png", "pdf": "./pdfs/manual-vilche.pdf", "texto": "jasdjfklañsdfklajsdklf" },
            { "nombre": "Pepito", "foto": "./img/paisaje.jpg", "pdf": "./pdfs/Allianz Cheat Sheet_Edit V8.pdf", "texto": "jasdjfklañsdfklajsdklf" },
            { "nombre": "Pepito", "foto": "./img/paisaje.jpg", "pdf": "./pdfs/Allianz Cheat Sheet_Edit V8.pdf", "texto": "jasdjfklañsdfklajsdklf" },
            { "nombre": "Pepito", "foto": "./img/paisaje.jpg", "pdf": "./pdfs/Allianz Cheat Sheet_Edit V8.pdf", "texto": "jasdjfklañsdfklajsdklf" },
            { "nombre": "Pepito", "foto": "./img/paisaje.jpg", "pdf": "./pdfs/Allianz Cheat Sheet_Edit V8.pdf", "texto": "jasdjfklañsdfklajsdklf" },
            { "nombre": "Pepito", "foto": "./img/paisaje.jpg", "pdf": "./pdfs/Allianz Cheat Sheet_Edit V8.pdf", "texto": "jasdjfklañsdfklajsdklf" },
            { "nombre": "Pepito", "foto": "./img/paisaje.jpg", "pdf": "./pdfs/Allianz Cheat Sheet_Edit V8.pdf", "texto": "jasdjfklañsdfklajsdklf" },
            { "nombre": "Pepito", "foto": "./img/paisaje.jpg", "pdf": "./pdfs/Allianz Cheat Sheet_Edit V8.pdf", "texto": "jasdjfklañsdfklajsdklf" },
            { "nombre": "Pepito", "foto": "./img/paisaje.jpg", "pdf": "./pdfs/Allianz Cheat Sheet_Edit V8.pdf", "texto": "jasdjfklañsdfklajsdklf" },
            { "nombre": "Pepito", "foto": "./img/paisaje.jpg", "pdf": "./pdfs/Allianz Cheat Sheet_Edit V8.pdf", "texto": "jasdjfklañsdfklajsdklf" },
            { "nombre": "Pepito", "foto": "./img/paisaje.jpg", "pdf": "./pdfs/Allianz Cheat Sheet_Edit V8.pdf", "texto": "jasdjfklañsdfklajsdklf" }
      ]


      $scope.avanzarGaleria = function (adelante)
      {
            aumento = 450;
            offset = $("#galeria").scrollLeft()
            console.log("AVANZANDO EN GALERIA: " + adelante + " -> " + offset);

            if (adelante)
            {
                  offset += aumento;
                  $('#galeria').animate({ scrollLeft: '+=' + aumento }, 500);
            }
            else
            {
                  offset -= aumento;
                  $('#galeria').animate({ scrollLeft: '-=' + aumento }, 500);
            }

            // $("#galeria").scrollLeft(offset)
      }

      $scope.itemGaleriaSelected = null;

      $scope.abrirItemGaleria = function (itemGaleria)
      {
            console.log("ABRIENDO MODAL GALERIA:");
            $scope.itemGaleriaSelected = itemGaleria;
            $scope.$evalAsync();
            $("#modalPdf").modal();
      }
</script>